<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <form action="/" method="get">
      <p>
        <label for="search">Search for a username</label>
        <input type="text" id="search" name="search" />
      </p>
      <button type="submit">Search</button>
    </form>
    <ul>
      <li>
        <%= "Usernames: " + usernames.map((user) => user.username).join(", ")%>
      </li>
    </ul>
    <a href="/new">Create a new user</a>
  </body>
</html>
